menu "Muen driver support"

config MUEN_CHANNEL
	bool "Muen shared memory channels"
	depends on MUEN_GUEST
	help
	  Muen shared memory channels are an implementation of the SHMStream
	  Version 2 IPC protocol (shmstream). This option is selected by any
	  driver that uses Muen shared memory channels.

config MUEN_SINFO
	bool "Muen subject information driver"
	depends on MUEN_GUEST
	default n
	help
	  The Muen subject information driver provides data about the execution
	  environment to other Muen modules.

config MUEN_CLKSRC
	bool "Muen clocksource driver"
	depends on MUEN_SINFO
	default n
	help
	  This driver implements a clocksource based on scheduling information
	  exported by the sinfo API.

config MUEN_PCI
	bool "Muen PCI driver"
	depends on MUEN_SINFO && PCI_MSI
	default n
	help
	  The Muen PCI driver provides support for Message Signaled
	  Interrupts for passed through PCI devices.

config MUEN_INPUT
	tristate "Muen virtual input device support"
	depends on MUEN_SINFO
	depends on MUEN_CHANNEL
	default n
	help
	  This driver implements the Muen virtual input device driver. It
	  processes keyboard and mouse inputs via a shared memory channel.

config MUEN_SMP
	bool "Muen SMP support"
	depends on SMP
	default n
	help
	  SMP support driver for Muen Linux.

endmenu
