menu "Muen driver support"

config MUEN_CHANNEL
	bool "Muen shared memory channels"
	depends on MUEN_GUEST
	help
	  This option is selected by any driver that uses the Muen shared memory
	  channels.

config MUEN_SINFO
	bool "Muen subject information driver"
	depends on MUEN_GUEST
	default n
	help
	  The Muen subject information driver provides data about the execution
	  environment to other Muen modules.

config MUEN_PCI_MSI
	bool "Muen PCI Message Signaled Interrupt support"
	depends on MUEN_SINFO && PCI_MSI
	default n
	help
	  The Muen PCI MSI driver provides support for Message Signaled Interrupts
	  for passed through PCI devices.

config MUEN_TSC
	bool "Muen paravirt TSC driver"
	depends on MUEN_SINFO
	default n
	help
	  The Muen paravirt TSC driver overrides the pv_cpu_ops.read_tsc function
	  with a paravirtualized variant using the scheduling information exported
	  by the Muen kernel via sinfo page.
endmenu
